<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CinevoScraper.Properties.CinevoScraper" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="CinevoScraper.CinevoScraper" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CinevoScraper.Properties.CinevoScraper" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <applicationSettings>
    <CinevoScraper.Properties.CinevoScraper>
      <setting name="CleanDirectories" serializeAs="String">
        <value>False</value>
      </setting>
    </CinevoScraper.Properties.CinevoScraper>
    <CinevoScraper.CinevoScraper>
      <setting name="PathTownScraper" serializeAs="String">
        <value>..\..\HtmlFiles\TownScraper\</value>
      </setting>
      <setting name="PathTownScraperProcessed" serializeAs="String">
        <value>..\..\HtmlFiles\TownScraper\Processed</value>
      </setting>
      <setting name="PathCinemaScraper" serializeAs="String">
        <value>..\..\HtmlFiles\CinemaScraper\</value>
      </setting>
      <setting name="PathCinemaScraperProcessed" serializeAs="String">
        <value>..\..\HtmlFiles\CinemaScraper\Processed</value>
      </setting>
    </CinevoScraper.CinevoScraper>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <userSettings>
    <CinevoScraper.Properties.CinevoScraper>
      <setting name="Cinemas" serializeAs="String">
        <value>..\..\HtmlFiles\Cinemas\</value>
      </setting>
      <setting name="Film" serializeAs="String">
        <value>..\..\HtmlFiles\Films\</value>
      </setting>
      <setting name="ForceRequest" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="CinemasIndex" serializeAs="String">
        <value>..\..\HtmlFiles\CinemaIndex\</value>
      </setting>
    </CinevoScraper.Properties.CinevoScraper>
  </userSettings>
</configuration>