<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CinevoScrapper.Properties.CinevoScrapper" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="CinevoScrapper.CinevoScrapper" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <applicationSettings>
    <CinevoScrapper.Properties.CinevoScrapper>
      <setting name="TownScrapper" serializeAs="String">
        <value>..\..\HtmlFiles\TownScrapper\</value>
      </setting>
      <setting name="TownScrapperProcessed" serializeAs="String">
        <value>..\..\HtmlFiles\TownScrapper\Processed</value>
      </setting>
      <setting name="CinemaScrapper" serializeAs="String">
        <value>..\..\HtmlFiles\CinemaScrapper\</value>
      </setting>
      <setting name="CinemaScrapperProcessed" serializeAs="String">
        <value>..\..\HtmlFiles\CinemaScrapper\Processed</value>
      </setting>
      <setting name="CleanDirectories" serializeAs="String">
        <value>True</value>
      </setting>
    </CinevoScrapper.Properties.CinevoScrapper>
    <CinevoScrapper.CinevoScrapper>
      <setting name="PathTownScrapper" serializeAs="String">
        <value>..\..\HtmlFiles\TownScrapper\</value>
      </setting>
      <setting name="PathTownScrapperProcessed" serializeAs="String">
        <value>..\..\HtmlFiles\TownScrapper\Processed</value>
      </setting>
      <setting name="PathCinemaScrapper" serializeAs="String">
        <value>..\..\HtmlFiles\CinemaScrapper\</value>
      </setting>
      <setting name="PathCinemaScrapperProcessed" serializeAs="String">
        <value>..\..\HtmlFiles\CinemaScrapper\Processed</value>
      </setting>
    </CinevoScrapper.CinevoScrapper>
  </applicationSettings>
</configuration>