<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CinevoTests.Properties.CinevoScrapperTest" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CinevoTests.Properties.CinevoScrapperTest>
            <setting name="EqualFilesDownloaded" serializeAs="String">
                <value>..\..\..\CinevoTests\FilesAreEqual</value>
            </setting>
            <setting name="EqualFilesOld" serializeAs="String">
                <value>..\..\..\CinevoTests\FilesAreEqual\Old</value>
            </setting>
            <setting name="DiffFilesDownloaded" serializeAs="String">
                <value>..\..\..\CinevoTests\FilesAreDiff</value>
            </setting>
            <setting name="DiffFilesOld" serializeAs="String">
                <value>..\..\..\CinevoTests\FilesAreDiff\Old</value>
            </setting>
            <setting name="CleanDirectories" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UrlTowns" serializeAs="String">
                <value>https://cartelera.elperiodico.com/cines/</value>
            </setting>
            <setting name="Temporal" serializeAs="String">
                <value>..\..\..\CinevoTests\Resources</value>
            </setting>
        </CinevoTests.Properties.CinevoScrapperTest>
    </applicationSettings>
</configuration>